body {
  font-family: 'Open Sans', sans-serif;
}

.dog-icon {
  padding: 10px;
  width: 5%;
}

h1  {
  color: white;
  font-weight: 100;
  margin-top: 0;
  padding: 5px;
  text-align: center;
}

nav {
  background-color: #75e2e6;
}

.dog-name {
  font-weight: 800;
}

.top {
  float: right;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
}

.dog-park-section {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/park.jpg");
  text-align: center;
  
}

.dog-park-info {
  margin-left: 30%;
  margin-right: 30%;
}

h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 100;
  margin-top: 4px;
  padding: 5px;
  text-align: center;
}

.dog-1 {
  border-color: #75e2e6;
  border-radius: 50%;
  border-style: solid;
  display: block;
  margin-bottom: 15;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.dog-titles {
 margin-top:6px;
}

.nameboxtitle{
  color: ffffff;
  font-size: 10px;
  margin: 0px 0px -17px 0px;
  width: 55%;
}

.namebox {
  width: 52%;
  height: 3%;
}

.namethisdog{
  background-color: #75e2e6;
  font-size: 15px;
  margin-bottom: 12px;
  width: 52%;
  height: 3%;
}

.dog-circle {
  border-color: #75e2e6;
  border-radius: 50%;
  border-style: solid;
  width: 55%;
}

.info {
  width:100%;
}

.how {
  margin-bottom: 41px;
}

#arts {
  margin: 0px 13px;
}

.artcenter {
  text-align:center;
}

.art1 {    
  display: inline-block;
  width: 30.3%;
}

.art2 {    
  display: inline-block;
  width: 30.3%;
}

.art3 {    
  display: inline-block;
  width: 30.3%;
}

.artbuttons {
  background-color: #048eaa;
  color: #ffffff;
  font-size: 16px;
  height: 34px;
  width: 100%;
}

footer {
  background-color: #048eaa;
  color: #ffffff;
  height: 177px;
  text-align: center;
}

footer p {
  font-size: 16px;
  margin-bottom: 18px;
  padding-top: 50px;
}


.twit-logo {
  display: inline;
  padding-bottom: 22px;
  padding-left: 10px;
  width:40px;
}

.logo {
  display: inline;
  padding-bottom: 22px;
  padding-left: 10px;
  width: 40px;
}

.dog-4 {
  margin-bottom: -3px;
  
}

.facts {
  margin-bottom: 36px;
}

@media screen and (max-width: 964px){

#arts {
  width: 28%;
}

@media screen and (max-width: 700px) {

  #arts {
    width: 41%;
  }


  .art3 {
    display: block;
  }

@media screen and (max-width: 623px) {

  .top {
  float: right;
  font-size: 11px;
  font-weight: bold;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  }
  
  .namethisdog {
    font-size: 10px;
  }
}

@media screen and (max-width: 470px) {

  .top {
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 437px) {

  #arts {
    width: 81%;
  }

  .art2 {
    display: block;
  }

  .namethisdog {
    font-size: 6px;
  }
}

@media screen and (max-width: 405px) {

  form {
    text-align: left;
  }

  .namethisdog {
    width: 100%;
  }

  .namebox {
    width: 100%;
  }

  .dog-1 {
    border-color: #75e2e6;
    border-radius: 50%;
    border-style: solid;
    display: block;
    margin-bottom: 15;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}